header.main-header
	.main-header_container
		i.icon.icon--base.fa.fa-bars(role="main-menu")
		

//- div(class="topnavbar")
//-    div(class="hambg-icon")
//-       span(style="font-size: 20px; cursor: pointer; color:white;" ng-click="showOrHideSideNav()") &#9776;
//-    div(class="company-name") 
//-       span(style="font-weight: bold; margin-left: 10px;") PT Harapan Masa
