
[class^="col-md"] {
	padding: 0;
	margin: 0;
}

.pull-right {
	margin-left: 0 auto;
}


// .col-20 {
// 	@include size(width 50%);

// 	@include phone {
// 		@include size(width 100%/3);
// 	}

// 	@include tablet {
// 		@include size(width 100%/4);
// 	}

// 	@include desktop {
// 		@include size(width 100%/5);
// 	}
// }

// .col-33 {
// 	@include size(width 50%);

// 	@include phone {
// 		@include size(width 100%/3);
// 	}
// }
