ui-select(ng-model="data.selectedCategory", on-select="changeCategory($item)")
  ui-select-match
    span(ng-bind="$select.selected.name")
  ui-select-choices(repeat="category in (categoryList | filter: $select.search) track by $index")
    span(ng-bind="category.name")
