ui-select(ng-model="data.selectedPaymentMethod", on-select="changePaymentMethod($item)")
  ui-select-match
    span(ng-bind="$select.selected.name")
  ui-select-choices(repeat="method in (paymentMethodList | filter: $select.search) track by $index")
    span(ng-bind="method.name")
