include ./global/head.pug
include ./parts/sidenav.pug
main.main
  include ./parts/main-header.pug
  include ./parts/main-subheader.pug
  
  .main_content(ng-cloak)
    .page_header
      h2(role="page-title")= page.title
    .page_content
      .page_block
        .row
          form.form
            .form-group
              .row.flex-end
                button.button.button--base.button--secondary(ng-click="exportToExcel()") EXPORT
              .row.m-top-15
                .col-lg-4.col-md-4.col-sm-4.col-xs-12.pd-right-15
                  ui-select(ng-model="selectedFilter.item")
                    ui-select-match
                      span(ng-bind="$select.selected.name")
                    ui-select-choices(repeat="filter in (searchFilters | filter: $select.search) track by $index")
                      span(ng-bind="filter.name")
                .col-lg-5.col-md-5.col-sm-5.col-xs-12.pd-right-15
                  .input-group(ng-show="selectedFilter.item.by === 'date'")
                    datepicker(date-format="yyyy-MM-dd" style="margin-right: 5px;")
                      input.form-input(type="text", ng-model="requiredData.date", placeholder="Masukkan Tanggal Awal")
                  .input-group(ng-show="selectedFilter.item.by !== 'range_date' && selectedFilter.item.by !== 'date'")
                    input.form-input(type="text", ng-model="searchVal", placeholder="{{selectedFilter.item.placeholder}}")
                    button.button.button--secondary.button--base(ng-click="doSearchFilter(searchVal, selectedFilter.item.by)") Cari
                  .input-group(ng-show="selectedFilter.item.by === 'range_date'")
                    datepicker(date-format="yyyy-MM-dd" style="margin-right: 5px;")
                      input.form-input(type="text", ng-model="requiredData.s_date", placeholder="Masukkan Tanggal Awal")
                    datepicker(date-format="yyyy-MM-dd")
                      input.form-input(type="text", ng-model="requiredData.e_date", placeholder="Masukkan Tanggal Akhir")
                    button.button.button--secondary.button--base(ng-click="doSearchFilter(searchVal, selectedFilter.item.by)") Cari
                .col-lg-3.col-md-3.col-sm-3.col-xs-12
                  a.button.button--primary.button--base(ng-click="redirectToCreateNewData()")
                    i.fa.fa-plus.icon.icon--regular
                    | {{ btnName }}
      .shrink-table
        table.table--striped.table--hoverable
          thead.thead--primary
            tr
              th(ng-repeat="header in headings") {{header.name}}
          tbody
            tr(ng-repeat="data in listData" show-tipo-detail tipo-id="data.id")
              td(ng-repeat="col in cols") {{ data[col] }}
      .page-block(style="text-align: center")
        pagination(total-rows="totalRows", data="requiredData")
