include ./global/head.pug
include ./parts/sidenav.pug
main.main
   include ./parts/main-header.pug
   include ./parts/main-subheader.pug
   .main_content(ng-cloak)
      .page_header
         h2(role="page-title") Buat BPB
      .page_content
         include ./parts/purchasingBPBForm.pug
