include ./global/head.pug
include ./parts/sidenav.pug
main.main
    include ./parts/main-header.pug
    include ./parts/main-subheader.pug

    .main_content(ng-cloak)
        .page_header
            h2(role="page-title")= page.title
        .page_content
            .page_block
                form.form
                    .form-group
                        .flex-justify-between
                            label.form-label Cari Berdasarkan
                            button.button.button--primary.button--base(ng-show="listReportData.length > 0" ng-click="exportToExcel()") Export
                        .row.m-top-15
                            .col-lg-2.col-md-2.col-sm-2.col-xs-12
                                label.form-label.m-right-15 Customer
                            .col-lg-5.col-md-5.col-sm-5.col-xs-12
                                ui-select(ng-model="requiredData.selectedCustomer", on-select="changeCustomer($item)")
                                    ui-select-match
                                        span(ng-bind="$select.selected.name")
                                    ui-select-choices(repeat="customer in (customerList | filter: $select.search) track by $index")
                                        span(ng-bind="customer.name")
                            .col-lg-3.col-md-3.col-sm-3.col-xs-12
                                button.button.button--secondary.button--base(ng-click="viewReport()") Cari
            .shrink-table
                table.table--striped.table--hoverable
                    thead.thead--primary
                        tr
                            th(ng-repeat="header in headings") {{header.name}}
                    tbody
                        tr(ng-repeat="data in listReportData")
                            td {{ data.customer.name }}
                            td {{ data.saldo | number: fractionSize }}

            .page-block(style="text-align: center")
                pagination(total-rows="totalRows", data="requiredData")
