include ./global/head.pug
include ./parts/sidenav.pug
main.main
    include ./parts/main-header.pug
    include ./parts/main-subheader.pug

    .main_content(ng-cloak)
        .page_header
            h2(role="page-title")= page.title
        .page_content
            .page_block
                .row.flex-end
                    button.button.button--base.button--danger(ng-click="printCustomerMasterReport()") EXPORT
                .row
                    include ./parts/filter.pug
                
            .shrink-table
                table.table--striped.table--hoverable
                    thead.thead--primary
                        tr
                            th(ng-repeat="header in headings") {{header.name}}
                    tbody
                        tr(ng-repeat="content in listData", ng-click="openDetailData(content)")
                            td(ng-repeat="col in cols") {{ content[col] }}
                            td(ng-click="$event.stopPropagation()")
                                .flex-row.flex-align-center
                                    button.button.button--small.button--success.button--stick(ng-click="editData(content)")
                                        i.fa.fa-pencil.icon.icon--small
                                        | Ubah
                                    button.button.button--small.button--danger.button--stick(ng-click="deleteData(content)")
                                        i.fa.fa-trash.icon.icon--small
                                        | Hapus
                                    

            .page-block(style="text-align: center")
                pagination(total-rows="totalRows", data="requiredData")