include ./global/head.pug
include ./parts/sidenav.pug
main.main
   include ./parts/main-header.pug
   include ./parts/main-subheader.pug
   
   .main_content(ng-cloak)
      .page_header
         h2(role="page-title") Pengiriman
      .page_content
         form.form.form--horizontal(ng-submit="save()")   
            include ./parts/deliveryForm.pug
