include ./global/head.pug
include ./parts/sidenav.pug
main.main
  include ./parts/main-header.pug
  include ./parts/main-subheader.pug
  
  .main_content(ng-cloak)
    .page_header
      h2 Laporan Pencairan Cek / Giro
    .page_content
      .page_block
        form.form
          .form-group
            .flex-justify-between
              label.form-label Cari Berdasarkan
              button.button.button--primary.button--base(ng-show="paymentDisbursementReport.length > 0" ng-click="doPrint()") PRINT
            .row.m-top-15
              .col-lg-2.col-md-2.col-sm-2.col-xs-12.align-right
                label.form-label.m-right-15 Tanggal
              .col-lg-5.col-md-5.col-sm-5.col-xs-12
                datepicker(date-format="yyyy-MM-dd" date-set="{{requiredData.end_date}}")
                  input.form-input(type="text", ng-model="requiredData.end_date", placeholder="Masukkan tanggal")
              .col-lg-3.col-md-3.col-sm-3.col-xs-12.pd-left-15    
                button.button.button--secondary.button--base(ng-click="viewPaymentDisbursementReport()") Cari                
      .page_block(ng-show="paymentDisbursementReport.length == 0" style="text-align: center;")
        label There is no data
      .table(ng-show="paymentDisbursementReport.length > 0")
        table.table--striped.table--hoverable
          thead.thead--primary
            tr
              th(ng-repeat="heading in headings", ng-class="{ 'large': heading.size == 'lg' }") {{heading.name}}
          tbody
            tr(ng-repeat="paymentDisbursement in paymentDisbursementReport")
              td(rowspan="paymentDisbursement.invoice.length") {{ paymentDisbursement.customer.name }}
              td 
                p(ng-repeat="invoice in paymentDisbursement.invoice" style="margin: 5px;") {{ invoice.id }}
              td(rowspan="paymentDisbursement.invoice.length") {{ paymentDisbursement.payment.due_date }}
              td(rowspan="paymentDisbursement.invoice.length") {{ paymentDisbursement.payment.method.name }}
              td(rowspan="paymentDisbursement.invoice.length") {{ paymentDisbursement.payment.bank }}
              td(rowspan="paymentDisbursement.invoice.length") {{ paymentDisbursement.payment.proof }}
              td(rowspan="paymentDisbursement.invoice.length") {{ numberWithCommas(paymentDisbursement.payment.total) }}
      .page-block(style="text-align: center" ng-show="paymentDisbursementReport.length > 0")
        pagination(total-rows="totalRows", data="requiredData")
