include ./global/head.pug
include ./parts/sidenav.pug
main.main
  include ./parts/main-header.pug
  include ./parts/main-subheader.pug
  
  .main_content(ng-cloak)
    .page_header
      h2= page.title
    .page_content
      .page_block
        form.form
          .form-group
            .flex-justify-between
              label.form-label Cari Berdasarkan
              button.button.button--primary.button--base(ng-show="listReportData.length > 0" ng-click="printReport()") PRINT
            .row.m-top-15
              .col-lg-2.col-md-2.col-sm-2.col-xs-12.align-right
                label.form-label.m-right-15 Tanggal Awal
              .col-lg-5.col-md-5.col-sm-5.col-xs-12
                datepicker(date-format="yyyy-MM-dd" date-set="{{requiredData.start_date}}")
                  input.form-input(type="text", ng-model="requiredData.start_date", placeholder="Masukkan tanggal awal")
              .col-lg-3.col-md-3.col-sm-3.col-xs-12.pd-left-15    
                button.button.button--secondary.button--base(ng-click="viewReport()") Cari
            .row.m-top-15
              .col-lg-2.col-md-2.col-sm-2.col-xs-12.align-right
                label.form-label.m-right-15 Tanggal Akhir
              .col-lg-5.col-md-5.col-sm-5.col-xs-12
                datepicker(date-format="yyyy-MM-dd" date-set="{{requiredData.end_date}}")
                  input.form-input(type="text", ng-model="requiredData.end_date", placeholder="Masukkan tanggal akhir")
            .row.m-top-15
              .col-lg-2.col-md-2.col-sm-2.col-xs-12.align-right
                label.form-label.m-right-15 Kategori
              .col-lg-5.col-md-5.col-sm-5.col-xs-12
                input.form-input(type="text", ng-model="requiredData.category", placeholder="Masukkan kode kategori")
            .row.flex-end
                button.button.button--primary.button--base(ng-show="listReportData.length > 0" ng-click="exportToExcel()") EXPORT

      .page_block(ng-show="listReportData.length == 0" style="text-align: center;")
        label There is no data
      .table(ng-show="listReportData.length > 0")
        table.table--striped.table--hoverable
            thead.thead--primary
                tr
                    th(ng-repeat="heading in headings", ng-class="{ 'large': heading.size == 'lg' }") {{heading.name}}
            tbody
                tr(ng-repeat="reportData in listReportData")
                    td {{ reportData.po_date }}
                    td {{ reportData.po_id }}
                    td {{ reportData.supplier.name }}
                    td
                        p.m-bottom-15(ng-repeat="item in reportData.item") {{ item.i_name }}
                    td
                        p.m-bottom-15(ng-repeat="btb in reportData.btb") {{ btb.btb_id }}
                    td
                        p.m-bottom-15(ng-repeat="item in reportData.item") {{ item.po_quantity | number: fractionSize }}
                    td
                        p.m-bottom-15(ng-repeat="item in reportData.item") {{ item.weight }}
                    td
                        p.m-bottom-15(ng-repeat="item in reportData.item") {{ item.po_price | number: fractionSize }}
