include ./global/head.pug
include ./parts/sidenav.pug
main.main
  include ./parts/main-header.pug
  include ./parts/main-subheader.pug
  
  .main_content(ng-cloak)
    .page_header
      h2= page.title
    .page_content
      .page_block
        form.form
          .form-group
            .flex-justify-between
              label.form-label Cari Berdasarkan
            .row.m-top-15
              .col-lg-2.col-md-2.col-sm-2.col-xs-12.align-right
                label.form-label.m-right-15 Tanggal Awal
              .col-lg-5.col-md-5.col-sm-5.col-xs-12
                datepicker(date-format="yyyy-MM-dd" date-set="{{requiredData.start_date}}")
                  input.form-input(type="text", ng-model="requiredData.start_date", placeholder="Masukkan tanggal awal")
            .row.m-top-15
              .col-lg-2.col-md-2.col-sm-2.col-xs-12.align-right
                label.form-label.m-right-15 Tanggal Akhir
              .col-lg-5.col-md-5.col-sm-5.col-xs-12
                datepicker(date-format="yyyy-MM-dd" date-set="{{requiredData.end_date}}")
                  input.form-input(type="text", ng-model="requiredData.end_date", placeholder="Masukkan tanggal akhir")
              .col-lg-3.col-md-3.col-sm-3.col-xs-12.pd-left-15    
                button.button.button--secondary.button--base(ng-click="exportToExcel()") EXPORT



                    


                          
                          
