include ./global/head.pug
include ./parts/sidenav.pug
main.main
	include ./parts/main-header.pug
	include ./parts/main-subheader.pug

	.main_content(ng-cloak)
		.page_header
			h2 Pengaturan Stock
		.page_content
			.page_block
				form.form
					.row.flex-end
						button.button.button--base.button--secondary(ng-click="exportToExcel()") EXPORT
					.row.pd-bottom-30
						.col-lg-6.col-md-6.col-sm-6.col-xs-12.pd-right-15
							.form-group
								label.form-label Gudang
								ui-select(ng-model="requiredData.warehouse_data", on-select="changeWarehouse($item)")
									ui-select-match
										span(ng-bind="$select.selected.name")
									ui-select-choices(repeat="warehouse in (warehouseList | filter: $select.search) track by $index")
										span(ng-bind="warehouse.name")
											
						.col-lg-6.col-md-6.col-sm-6.col-xs-12.pd-left-15
							.form-group
								label.form-label Alamat Gudang
								textarea.form-input(placeholder="Alamat Gudang", ng-model="warehouseDetail.address", readonly)

					.flex-row.flex-jutsify-between
						button.button.button--base.button--danger(type="button" ng-click="goBack()") 
							i.fa.fa-chevron-left.icon.icon--small
							| Kembali
					
			.page_block(ng-show="warehouseDetail")
				form.form
					.form-group
						label.form-label Cari Berdasarkan
						.row
							.col-lg-4.col-md-4.col-sm-4.col-xs-12.pd-right-15
								ui-select(ng-model="selectedFilter.item")
									ui-select-match
										span(ng-bind="$select.selected.name")
									ui-select-choices(repeat="filter in (searchFilters | filter: $select.search) track by $index")
										span(ng-bind="filter.name")
							
							.col-lg-5.col-md-5.col-sm-5.col-xs-12.pd-right-15
								.input-group
									input.form-input(type="text", ng-model="searchVal", placeholder="{{selectedFilter.item.placeholder}}")
									button.button.button--base.button--secondary(ng-click="doSearchFilter(searchVal, selectedFilter.item.by)") Cari
									
			.table(ng-show="warehouseDetail")
				form.form(ng-submit="adjustStock(item)")
					table.table--striped
						thead.thead--primary
							tr
								th(ng-repeat="heading in headings", ng-class="{ 'large': heading.size == 'lg' }") {{heading.name}}
						tbody
							tr(ng-repeat="item in warehouseDetail.item | filter: searchFilter.value", ng-click="openWarehouseDetail(warehouse)")
								td {{item.category.name}}
								td {{item.name}}
								td {{item.unit}}
								td {{item.grade}}
								td {{item.stock.plan}}
								td {{item.stock.actual}}
								td 
									.form-input-group
										.flex-column
											button.button.button--base.button--success(type="button" ng-click="adjustStock(item)")
												i.icon.icon--regular.fa.fa-pencil
												| Edit
			
			div(ng-show="warehouseDetail", style="text-align: center")
				pagination(total-rows="totalRows", data="requiredData")
