.clr-primary	{ color: $clr-primary; }
.clr-secondary	{ color: $clr-secondary; }

.clr-primary-light	{ color: $clr-primary-light; }

.clr-passive	{ color: $clr-primary-passive; }

.clr-success	{ color: $clr-primary-success; }
.clr-danger		{ color: $clr-primary-danger; }
.bg-gray-lightest { background-color: $clr-gray-lightest; }
